.cart {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
  }
  
  .work {
    width: 100%; /* Ensure it takes full width of the parent */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
  }
  
  .job {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers items horizontally */
  }
  
  .col {
    flex: 1 0 300px; /* Flex item properties */
    margin-bottom: 20px; /* Adds space between items */
  }
  