*{

    width: auto;
    padding: 0px;
}
body{
    width: auto;
    height: auto;
}
.he{
animation: drop 0.5s linear ;
 width: 500px;
height: 500px; 
}
@keyframes drop{
    from{
        transform: translateY(200px);

    }
    to{
        transform: translateY(0px);
    }
}
