.head{
    background-color: #9b9898;
    justify-content: space-around;
    position:fixed;
}
.scrolling-banner{
    padding: 2px;
    margin: 0px;
    background-color: #b48686;
animation: scroll 10s linear infinite;
text-align: center;
}
@keyframes scroll{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}